.slider {
  padding-top: 40px;
  margin: 0 2.5rem;
}

.slider :global(.slick-list) {
  overflow-x: hidden;

}

.slider :global(.slick-track) {
  display: flex;
  padding-bottom: 40px;
}

.slider :global(.slick-slide) {
  padding-right: 20px;
}

.slider img {
  width: 370px;
  object-fit: cover;
  object-position: center;
  user-select: none;
  flex-shrink: 0;
}

.slider :global(.slick-arrow) {
  width: 30px;
  height: 30px;
  background: #C9D5F0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  position: absolute;
  right: 30px;
  bottom: calc(100% - 2px);
}

.slider :global(.slick-arrow) img {
  width: 20px;
  height: 20px;
}

.slider :global(.slick-arrow):hover {
  background: #567DD0;
}


.slider :global(.slick-prev) {
  right: 70px;
  transform: rotate(180deg);
}

.counter {
  color: #A8B5CC;
  font-size: 0.75rem;
  margin-right: 130px;
}

.counter b {
  color: #567DD0;
  font-size: 1rem;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modalcontent {
  display: flex;
  z-index: 100002;
  position: relative;
  max-height: 80vh !important;
  max-width: calc(95% - 30px);
}

.modalcontent img {
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0,0,0,0.8);
  z-index: 100001;
}

.close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);

  cursor: pointer;
  z-index: 100003;
}

.zoom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  width: 60px !important;
}


@media screen and (max-width: 550px) {
  .slider {
    margin: 0;
  }

  .titlepart {
    justify-content: center !important;
  }

  .titlepart h2 {
    text-align: center;
  }

  .slider :global(.slick-list) {
    padding-left: 0 !important;
  }

  .counter {
    display: none;
  }

}
