.table {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  width: 100%;
  position: relative;
}

.table div {
  min-height: 40px;
}

.table > .cell {
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.table > .cell:first-of-type, .table > .cell > .text {
  color: rgb(59, 130, 246);
}

.table > .cell:first-of-type {
  position: sticky;
  left: 0;
  top: 0;
  background: #fff;
}

.table > .cell:first-of-type div {
  text-align: center;
  justify-content: center;
}


.table > .cell:nth-child(2n) {
  background: #d9e2f3;
}


.cell {
  display: flex;
  align-items: stretch;
}

.vertical {
  flex-direction: column;
}

.vertical > .text {
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #d8d8d8;
}

.vertical > .info > div:first-of-type {
  border-left: none;
}

.info {
  display: flex;
  white-space: normal;
  width: 100%;
}

.info > div {
  border-left: 1px solid #d8d8d8;
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.info > div.vertical {
  padding: 0;
}

.text {
  padding: 0 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table span {
  display: none;
}

.table img {
  max-width: 100%;
  max-height: 40px;
  margin: 0 auto;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  color: rgb(59, 130, 246);
  font-size: 12px;
}

.table b {
  color: #f00;
}

@media screen and (max-width: 1250px) {
  .cell {
    flex-direction: column;
  }

  .text {
    text-align: center;
    max-width: 100% !important;
    justify-content: center;
    border-bottom: 1px solid #d8d8d8;
  }

  .info > div:first-of-type {
    border-left: none
  }
}

@media screen and (max-width: 950px) {
  .table span {
    display: inline;
    font-weight: 700;
    margin-right: 4px;
  }

  .info {
    flex-wrap: wrap;
  }

  .info > div {
    width: 50% !important;
    max-width: 100% !important;
    margin-left: -1px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: -1px;
    padding: 5px;
  }

  .info > div:nth-child(odd) {
    border-right: 1px solid #d8d8d8;
  }



  .table > .cell:first-of-type {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .info > div {
    width: 100% !important;
  }
}


