.cardsWithLinksBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardsWithLinksBlock__head {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.cardsWithLinksBlock__title {
  margin: 0;
  max-width: 501px;
  margin-right: 95px;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
}

.cardsWithLinksBlock__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  position: relative;
}

.cardsWithLinksBlock__subtitle:before{
  content: "";
  margin-top: 8px;
  width: 7px;
  height: 7px;
  margin-right: 16px;
  border: 1px solid #FF6768;
  box-sizing: border-box;
  transform: rotate(-45deg);
  position: absolute;
  left: -25px;
}

.cardsWithLinksBlock__list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardsWithLinksBlock__blockText{
  max-width: 69.2307692307%;
  min-width: 69.2307692307%;
  margin-bottom: 60px;
  display: flex;
}

.cardsWithLinksBlock__grid{
  max-width: 23.0769230769%;
  min-width: 23.0769230769%;
  margin-right: 2.5641025641%;
  margin-bottom: 60px;
  display: flex;
}

.cardsWithLinksBlock__item{
  background: white;
  border: 1px solid #EFF3FA;
  box-sizing: border-box;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 22px 0;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.cardsWithLinksBlock__item:hover{
  box-shadow: 0px 10px 30px rgba(0, 78, 255, 0.07), 0px 20px 50px rgba(0, 78, 255, 0.05);
}

.cardsWithLinksBlock__grid:nth-child(4n){
  margin-right: 0;
}

.cardsWithLinksBlock__icon{
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  margin-bottom: 15px;
  background: #EFF3FA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsWithLinksBlock__itemTitle{
  color: #373737;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.cardsWithLinksBlock__itemTitle p{
  margin: 0;
}

.cardsWithLinksBlock__buttonText{
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 600;
}

.cardsWithLinksBlock__buttonText a{
  color: #FF6768;
  text-decoration: underline;
}

.cardsWithLinksBlock__buttonText:before{
  content: "";
  border: 3px solid #FF6768;
  width: 35px;
  border-radius: 4px;
  display: flex;
}
