.cardsWithLinksBlock__title {
  margin: 0;
  max-width: 501px;
  margin-right: 95px;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
}

.cardsWithLinksBlock__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  position: relative;
  padding-left: 25px;
}

.cardsWithLinksBlock__subtitle:before{
  content: "";
  margin-top: 8px;
  width: 7px;
  height: 7px;
  border: 1px solid #FF6768;
  box-sizing: border-box;
  transform: rotate(-45deg);
  position: absolute;
  left: 0px;
}

.cardsWithLinksBlock__grid{
  max-width: 31.6239316%;
  min-width: 31.6239316%;
  margin-right: 2.56410256%;
  margin-bottom: 30px;
  display: flex;
  box-sizing: border-box;
}

.cardsWithLinksBlock__item{
  background: white;
  border: 1px solid #EFF3FA;
  box-sizing: border-box;
  justify-items: center;
  flex-direction: column;
  padding: 34px 41px 39px 39px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.cardsWithLinksBlock__item:hover{
  box-shadow: 0px 10px 30px rgba(0, 78, 255, 0.07), 0px 20px 50px rgba(0, 78, 255, 0.05);
}

.cardsWithLinksBlock__grid:nth-child(3n){
  margin-right: 0;
}

.cardsWithLinksBlock__itemTitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}

.cardsWithLinksBlock__item a{
  color: #373737;
  font-size: 14px;
  line-height: 36px;
}

.cardsWithLinksBlock__item a:hover{
  text-decoration: underline;
  color: #567DD0;
}

.cardsWithLinksBlock__item img{
  width: 10px;
  min-width: 10px;
  margin-right: 13px;
}

@media (max-width: 1023px) {
  .cardsWithLinksBlock__itemTitle{
    margin-bottom: 8px;
  }
  .cardsWithLinksBlock__title{
    max-width: none;
    text-align: center;
    margin-right: 0;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .cardsWithLinksBlock__grid{
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .cardsWithLinksBlock__item{
    padding: 23px 13px 21px 19px;
  }
}
