.partners {
  background-color: #F9FAFD;
}

.title {
  margin-bottom: 52px;
}

.title > span {
  font-size: 1rem;
  line-height: 262%;
  color: #A8B5CC;
}

.link {
  font-size: 1.875rem;
  line-height: 140%;
  color: #0C389A;
  border-bottom: 2px solid #0C389A;
  font-weight: 700;
}


