.leftAlignBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftAlignBlock__list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.leftAlignBlock__item{
  max-width: 47.1428571429%;
  min-width: 47.1428571429%;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
}

.leftAlignBlock__item:nth-child(3n){
  margin-right: 0;
}

.leftAlignBlock__icon{
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  background: #EFF3FA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}

.leftAlignBlock__icon img{
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.leftAlignBlock__itemTitle{
  color: #373737;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
}

.leftAlignBlock__text{
  font-size: 14px;
  line-height: 24px;
  color: #373737; 
}
