.block > div {
  margin-top: 10px;
}

.block h3, .block a {
  font-size: 1rem;
  color: #01359a;
  text-align: left;
  margin-bottom: 30px;
}

.block img {
  margin-right: 20px;
}

.block ul {
  list-style: none;
}

.block ul li {
  padding-left: 1em;
  text-indent: -.7em;
}

.block ul li::before {
  content: "• ";
  color: rgb(1, 53, 154);
}
