:root {
  --color-primary: #373737;
  --color-secondary: #567DD0;
  --color-third: #FFFFFF;
  --color-bg-primary: #EFF3FA;
  --color-bg-secondary: #0C389A;
  --color-bd-primary: #C9D5F0;
  --color-hover: #567DD0
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

.block-with-breadcrumbs > div:first-of-type{
  padding-top: 80px !important;
}

img {
  object-fit: contain;
}

h1{
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #373737;
}

h2{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #373737;
}

h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #373737;
}

button:focus{
  outline: none;
}

footer {
  margin-top: 50px;
}

@media screen and (max-width: 1023px){
  .flex-adaptive {
    flex-direction: column !important;
  }
}
