.lang {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 0.625rem;
  height: 40px;
}

.lang img {
  padding-right: 8px;
  margin-right: 9px;
  border-right: 1px solid var(--color-bd-primary);
}
