.catalog_button {
  background: #FF6768;
  border-radius: 3px;
  width: 185px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff
}
