.button {
  padding: 5px 21px 5px 12px;
  white-space: nowrap;
}

.button:before {
  content: '';
  background: url('src/assets/images/icons/call.svg') no-repeat 0 center / 18px 20px;
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  border-right: 1px solid var(--color-bd-primary);
  margin-right: 17px;
  font-size: 0.875em;
  line-height: 121%;
  font-weight: 500;
}

@media (max-width: 767px) {
  .button:before{
    border-right: 0;
    margin-right: 0;
    width: 16px;
    height: 20px;
    background: url('src/assets/images/icons/call.svg') no-repeat 0 center / 16px 20px;
  }
  .button{
    padding: 5px 7px;
  }
}

.ContactUsForm__title{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #373737;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .ContactUsForm__title{
    font-size: 24px;
    margin-bottom: 2px;
  }
}

.ContactUsForm__formColTitle{
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #373737;
}

.ContactUsForm__labelTitle{
  color: #A8B5CC;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
}

.ContactUsForm__input{
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  line-height: 36px;
  background: #FFFFFF;
  border: 2px solid #EFF3FA;
  box-sizing: border-box;
  border-radius: 3px;
}

.ContactUsForm__input::placeholder, .ContactUsForm__textarea::placeholder{
  color: #646F83;
}

.ContactUsForm__input:focus, .ContactUsForm__textarea:focus{
  outline: none;
  border: 2px solid #567DD0;
}

.ContactUsForm__textarea{
  font-size: 14px;
  line-height: 36px;
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #EFF3FA;
  border-radius: 3px;
  padding: 2px 15px;
  height: 100px;
  resize: none;
  box-sizing: border-box;
}

.ContactUsForm__description{
  font-size: 12px;
  line-height: 18px;
  color: #A8B5CC;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .ContactUsForm__description{
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.ContactUsForm__description a{
  text-decoration-line: underline;
  color: #0C389A;
}

.ContactUsForm__buttonApply{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 11px 39px 12px 40px;
  background: #FF6768;
  border-radius: 3px;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .postScriptButton {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .ContactUsForm__buttonApply{
    width: 100%;
  }

  .postScriptButton {
    flex-direction: column;
  }

  .postScriptButton__description {
    margin-bottom: 20px;
  }
}

.postScriptButton {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.postScriptButton__button {
  padding: 11px 45px;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6768;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.postScriptButton__button:first-child {
  margin: auto;
}

.postScriptButton__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 25px;
  color: #646F83;
  padding-left: 23px;
  margin-left: auto;
  position: relative;
}

.postScriptButton__description:before {
  content: "";
  position: absolute;
  left: 0;
  border: 1px solid #FF6768;
  width: 8.5px;
  height: 8.5px;
  box-sizing: border-box;
  top: 7px;
  transform: rotate(45deg);
  transition: border 0.3s;
}
