.frame {
  border: 2px solid rgb(75, 116, 205);
  border-radius: 10px;
  padding: 0 25px;
  height: 80px;
  width: 240px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  justify-content: center;
  position: relative;
  color: rgb(75, 116, 205);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0 35px 20px 0;
}

.frame:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 26px;
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-top: 0;
  border-right: 0;
  transform: rotate(
    -135deg
  );
}

.frame:last-of-type:after {
  content: none;
}
