.frame {
  border: 2px solid rgb(75, 116, 205);
  border-radius: 10px;
  padding: 10px 25px;
  width: 240px;
  flex-direction: column;
  vertical-align: top;
  justify-content: center;
  position: relative;
  color: rgb(75, 116, 205);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0 35px 20px 0;
  display: flex;
}

.frame:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-top: 0;
  border-right: 0;
  transform: rotate(
    -135deg
  );
}

@media (max-width: 899px) {
  .frame:after {
    content: "";
    position: absolute;
    right: 0px;
    left: 0px;
    top: auto;
    bottom: -30px;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-top: 0;
    border-right: 0;
    transform: rotate(
      -45deg
    );
  } 
  .frame{
    margin-bottom: 45px;
    margin-right: 0;
    width: 100%;
  }
}

.frame:last-of-type:after {
  content: none;
}
