.reasonsAcceptCardBlock__titleblock{
  margin-bottom: 40px;
}

.reasonsAcceptCardBlock__title{
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 17px;
  color: #373737;
}

.reasonsAcceptCardBlock__subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #646F83;
}

.reasonsAcceptCardBlock__blockText{
  max-width: 69.2307692307%;
  min-width: 69.2307692307%;
  margin-bottom: 60px;
  display: flex;
}

.reasonsAcceptCardBlock__blockText.reasonsAcceptCardBlock__blockTextFullWidth{
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: flex-end;
}



.reasonsAcceptCardBlock__blockTextFullWidth div:first-child {
  flex-shrink: 1;
  width: 100%;
  margin-right: 25px;
  text-align: right;
}

.reasonsAcceptCardBlock__blockTextFullWidth div:first-child:before {
  content: none;
}

.reasonsAcceptCardBlock__blockTextFullWidth div:last-child {
  flex-shrink: 4;
}

.reasonsAcceptCardBlock__grid{
  max-width: 23.0769230769%;
  min-width: 23.0769230769%;
  margin-right: 2.5641025641%;
  margin-bottom: 60px;
  display: flex;
}

.reasonsAcceptCardBlock__item{
  background: white;
  border: 1px solid #EFF3FA;
  box-sizing: border-box;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 22px 0;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.reasonsAcceptCardBlock__item:hover{
  box-shadow: 0 10px 30px rgba(0, 78, 255, 0.07), 0 20px 50px rgba(0, 78, 255, 0.05);
}

.reasonsAcceptCardBlock__grid:nth-child(4n){
  margin-right: 0;
}

.reasonsAcceptCardBlock__icon{
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  margin-bottom: 15px;
  background: #EFF3FA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reasonsAcceptCardBlock__itemTitle{
  color: #373737;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.reasonsAcceptCardBlock__itemTitle p{
  margin: 0;
}

.reasonsAcceptCardBlock__buttonText{
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 600;
}

.reasonsAcceptCardBlock__buttonText a{
  color: #FF6768;
  text-decoration: underline;
}

.reasonsAcceptCardBlock__buttonText:before{
  content: "";
  border: 3px solid #FF6768;
  width: 35px;
  border-radius: 4px;
  display: flex;
}

@media (max-width: 1023px) {

  .reasonsAcceptCardBlock__titleblock{
    margin-bottom: 12px;
  }

  .reasonsAcceptCardBlock__title{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .reasonsAcceptCardBlock__buttonText{
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
  .reasonsAcceptCardBlock__grid{
    max-width: none;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .reasonsAcceptCardBlock__buttonText{
    margin-top: 25px;
  }
  .reasonsAcceptCardBlock__buttonText:before{
    width: 30px;
    margin-bottom: 20px;
  }
}
