.bigCardsListBlock__background {
  background: #E5E5E5;
  padding-top: 40px;
}

.bigCardsListBlock__maxWidth {
  max-width: 1170px;
  margin: auto;
  padding: 0 20px;
  box-sizing: content-box;
}

.bigCardsListBlock__container {
  display: flex;
  flex-direction: column;
}

.bigCardsListBlock__title {
  max-width: 90%;
  margin: 0;
  margin-bottom: 40px;
}

.bigCardsListBlock__list {
  display: flex;
  flex-wrap: wrap;
}

.bigCardsListBlock__list .bigCard {
  max-width: 370px;
  margin-bottom: 30px;
}

.bigCardsListBlock__list .bigCard:nth-child(2), .bigCardsListBlock__list .bigCard:nth-child(3n + 2) {
  margin: 0 30px;
  margin-bottom: 30px;
}

.bigCard {
  background: #FFFFFF;
  border: 1px solid #EFF3FA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.bigCard:hover {
  box-shadow: 0px 10px 30px rgba(0, 78, 255, 0.07), 0px 20px 50px rgba(0, 78, 255, 0.05);
  cursor: pointer;
}

.bigCard__img {
  width: 100%;
  object-fit: cover;
  max-height: 240px;
  margin-bottom: 23px;
  height: 240px;
}

.bigCard__title {
  padding: 0 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #373737;
}

.bigCard__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #646F83;
  padding: 0 10px;
  margin-bottom: 18px;
}
