.item {
  position: relative;
  padding: 30px;
  width: 95%;
  max-width: 880px;
  margin: 0 auto;
  background: #F9FAFD;
  border-radius: 6px;
  opacity: 0.6;
  display: flex !important;
  align-items: flex-start;
  user-select: none;
}

.avatar {
  flex-shrink: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 33px;
  object-fit: cover;
  object-position: center;
}

.item h3 {
  line-height: 144%;
  font-size: 1.125rem;
  margin-bottom: 6px;
}


.item h4 {
  line-height: 200%;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.item span {
  font-size: 0.875rem;
  line-height: 150%;
  color: #567DD0;
  cursor: pointer;
  border-bottom: 1px dashed rgba(75, 116, 205, 0.6);
}

.item p {
  font-size: 1rem;
  line-height: 150%;
  color: #373737;
  margin-bottom: 10px;
}

:global(.slick-current) .item {
  opacity: 1;
}

.readall {
  margin-top: 10px;
}

.dots {
  height: 50px;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: absolute;
  left: 50%;
  display: flex !important;
  transform: translateX(-50%);
}

.dots li {
  display: flex;
}

.dots li button {
  width: 6px;
  height: 6px;
  margin: 2px 7px;
  background: rgba(168, 181, 204, 0.3);
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 0;
}

.dots li:global(.slick-active) button {
  height: 9px;
  background: #FF6768;
}



.title {
  font-size: 1.875rem;
  line-height: 140%;
  color: #373737;
  margin-bottom: 40px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal .item {
  opacity: 1 !important;
  z-index: 100002;
  position: relative;
  max-height: 80vh !important;
  overflow-y: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0,0,0,0.8);
  z-index: 100001;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
  z-index: 100003;
}


@media (min-width: 1024px) {
  .slider :global(.slick-list) {
    width: 900px;
    overflow: visible;
    margin: auto;
  }
}

.slider :global(.slick-track) {
  display: flex;
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .slider {
    margin-bottom: 40px;
  }

  .item  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .avatar {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .modal .avatar {
    display: none;
  }
}
