.header_social:hover svg {
  fill: var(--color-hover)
}

.header_social svg {
  fill: var(--color-bd-primary)
}

.header_offer {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.header_offer:first-of-type {
  margin-left: -40px;
  text-align: left;
  flex-shrink: 2;
}


.header_offer:last-of-type{
  margin-right: -40px;
  text-align: right;
  flex-shrink: 2;
}

.header_offer:hover {
  color: var(--color-hover);
}

.header_offer:after {
  content: '';
  height: 60px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to top, #F9FAFD 0, #C9D5F0 50%, #F9FAFD 100%);
}

.header_offer:last-of-type:after {
  display: none;
}

.footer_menu {
  border-bottom: 1px solid rgba(255,255,255,0.08)
}

.footer_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  background-color: #567DD0;
  box-shadow: 0 5px 10px rgba(0, 78, 255, 0.05), 0 10px 30px rgba(0, 78, 255, 0.03);
  border-radius: 6px;
  transition: background-color 0.4s;
  margin-bottom: auto;
}

.footer_arrow:hover {
  background-color: #C9D5F0;
}

.footer_column {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.footer_column > a {
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 0.875rem;
}

.footer_column ul {
  color: var(--color-secondary);
  font-size: 0.875rem;
  line-height: 150%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}

.footer_column.footer_address ul {
  margin-bottom: 20px;
}

.footer_column li {
  margin-bottom: 0.5rem;
}

.footer_linkspan:first-letter {
  text-transform: uppercase;
}


.footer_column ul a {
  display: flex;
}

.footer_column ul a:before {
  content: '';
  margin-top: 6px;
  width: 10px;
  height: 9px;
  background: url('src/assets/images/icons/romb.svg') no-repeat center / contain;
  margin-right: 16px;
  opacity: 0.4;
  flex-shrink: 0;
}

@media (max-width: 1023px) {
  .footer_column{
    padding: 18px 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
    cursor: pointer;
  }

  .footer_column:after{
    content: '';
    position: absolute;
    right: 1.3rem;
    top: 22px;
    width: 10px;
    height: 10px;
    transition: 0.3s;
    transform: rotate(-45deg);
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }

  .footer_column.openFooterTab:after {
    transform: rotate(45deg);
  }

  .footer_column > a{
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
  }
  .footer_column ul{
    max-width: none;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  .footer_column ul a{
    font-size: 14px;
    line-height: normal;
    margin-bottom: 8px;
  }
  .footer_column ul a:before{
    opacity: 1;
  }
  .openFooterTab ul{
    height: auto;
    margin-top: 10px;
  }
  .closeFooterTab ul{
    height: 0;
  }
  .footer_social{
    margin: 0 auto;
  }

  .footer_column button.footer_writeus {
    margin: 0 auto 39px;
  }
}

.footer_column ul a:hover {
  color: var(--color-third);
  text-decoration: underline;
}

.footer_column.footer_address ul li a {
  margin-bottom: 0 !important;
}

.footer_column.footer_address {
   cursor: auto;
}

.footer_column.footer_address:after{
  content: none;
}

.footer_column.footer_address ul li a:before {
  content: none;
}

.footer_title {
  text-transform: lowercase;
}

.footer_title:first-letter {
  text-transform: uppercase;
}


.footer_column ul a:hover:before {
  opacity: 1;
}

.footer_address ul li {
  color: #ffffff;
  display: flex;
  font-size: 1rem;
}

.footer_address li:before {
  content: '';
  margin-top: 6px;
  width: 10px;
  height: 9px;
  background: url('src/assets/images/icons/rombfill.svg') no-repeat center / contain;
  margin-right: 16px;
}

.footer_social {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  margin-left: 16px;
}


.footer_social a {
  cursor: pointer;
  margin-left: 24px;
  margin-bottom: 24px;
  width: 28px;
  height: 28px;
  display: flex;
  opacity: .6;
  transition: opacity 0.4s;
}

.footer_social a:hover {
  opacity: 1;
}

.footer_column button.footer_writeus {
  background: #FF6768;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  padding-right: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  max-width: 220px;
  height: 50px;
  margin: 0 auto 24px 40px;
}

.footer_column button.footer_writeus:before {
  content: '';
  background: url('src/assets/images/icons/mail.svg') no-repeat 0 center / 20px 20px;
  height: 100%;
  width: 36px;
  padding-right: 16px;
  margin-right: 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

@media (max-width: 767px) {
.mobilePadding{
  padding: 10px 15px;
}
  .btnSearch{
    padding: 5px;
  }
  .btnSearch svg{
    width: 20px;
    height: 20px;
  }
}

.mobileMenu{
  background: #F9FAFD;
  box-shadow: 0px 10px 20px rgba(0, 78, 255, 0.2), 0px 0px 30px rgba(0, 78, 255, 0.1);
  border-radius: 3px;
  position: fixed;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  padding: 46px 50px 49px 50px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  max-height: 620px;
  margin: auto;
}

.mobileMenu__close{
  position: absolute;
  right: 11px;
  top: 11px;
}

.mobileMenu__social svg{
  width: 26px;
  height: 26px;
}

.mobileMenu__topLink{
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.mobileMenu__topLink:last-child{
  margin-bottom: 33px;
}

.mobileMenu__bottomLink{
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #373737;
}

.btnMenu{
  padding: 6px;
  background: #EFF3FA;
  border-radius: 3px;
}
