.wideCardsBlock__background {
  background: #E5E5E5;
}

.wideCardsBlock__maxWidth {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  box-sizing: content-box;
}

.wideCardsBlock__container {
  display: flex;
  flex-direction: column;
  padding: 60px 0 73px 0;
}

.wideCardsBlock__head {
  margin-left: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wideCardsBlock__title {
  margin: 0 0 13px;
}

.wideCardsBlock__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #646F83;
}

.wideCardsBlock__list {
  display: flex;
  flex-wrap: wrap;
}

.wideCardsBlock__card {
  border: 1px solid #EFF3FA;
  box-sizing: border-box;
  background: white;
  padding: 28px;
  max-width: 270px;
  width: 100%;
  height: 130px;
  margin: 0 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
  border-radius: 6px;
  flex-direction: column;
}

.wideCardsBlock__card:hover {
  box-shadow: 0 10px 30px rgba(0, 78, 255, 0.07), 0 20px 50px rgba(0, 78, 255, 0.05);
  cursor: pointer;
}

.wideCardsBlock__cardImg {
  min-width: 100%;
  margin-bottom: 13px;
  max-width: 30px;
  height: 30px;
}

@media screen and (max-width: 1023px){
  .wideCardsBlock__list {
    justify-content: center;
  }
}
