.reasonsCustomIconBlock__title{
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 60px;
  color: #373737;
  max-width: 640px;
}

.reasonsCustomIconBlock__item{
  max-width: 29.6006944444%;
  min-width: 29.6006944444%;
  margin-right: 5.12152777778%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.reasonsCustomIconBlock__item:nth-child(3n){
  margin-right: 0;
}

.reasonsCustomIconBlock__icon{
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}

.reasonsCustomIconBlock__icon img{
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  border-radius: 50%;
}

.reasonsCustomIconBlock__itemTitle{
  color: #373737;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) {
  .reasonsCustomIconBlock__title{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 22px;
    text-align: center;
  }
  .reasonsCustomIconBlock__item{
    max-width: none;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .reasonsCustomIconBlock__icon{
    margin-bottom: 13px;
  }
  .reasonsCustomIconBlock__itemTitle{
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.reasonsCustomIconBlock__text{
  font-size: 14px;
  line-height: 30px;
  color: #646F83;
}

.reasonsCustomIconBlock__button{
  background: #FF6768;
  border-radius: 3px;
  padding: 11px 25px 12px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: fit-content;
}


@media (max-width: 1023px) {
  .reasonsCustomIconBlock__title{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 22px;
    text-align: center;
  }
  .reasonsCustomIconBlock__item{
    max-width: none;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .reasonsCustomIconBlock__icon{
    margin-bottom: 13px;
  }
  .reasonsCustomIconBlock__itemTitle{
    font-size: 14px;
    margin-bottom: 5px;
  }
}
