.Search {
  background: url("src/assets/images/search.png") no-repeat center 0 / cover;
  padding: 94px 0 60px 0;
}

.Search h1 {
  font-size: 1.875rem;
  line-height: 140%;
  font-weight: 700;
  max-width: 750px;
  margin-bottom: 50px;
}

.Search > div > div {
  background: #FFFFFF;
  box-shadow: 0 10px 30px rgba(0, 78, 255, 0.07), 0 20px 50px rgba(0, 78, 255, 0.05);
  border-radius: 6px;
  width: 100%;
  padding: 35px 70px 60px 70px;
  display: flex;
  justify-content: space-between;
}


