.imgAndTextEditorBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgAndTextEditorBlock__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgAndTextEditorBlock__content {
  display: flex;
  flex-direction: column;
}

.imgAndTextEditorBlock__contentLeft {
  margin-right: 69px;
}

.imgAndTextEditorBlock__contentRight {
  margin-left: 69px;
}

.imgAndTextEditorBlock__img {
  max-width: 470px;
  object-fit: cover;
  width: 100%;
}

.imgAndTextEditorBlock__imgmobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .imgAndTextEditorBlock {
    flex-direction: column-reverse !important;
  }

  .imgAndTextEditorBlock__content {
    align-items: center;
    width: 100%;
  }

  .imgAndTextEditorBlock__img {
    display: none;
  }


  .imgAndTextEditorBlock__imgmobile {
    display: block;
    width: calc(100% + 2rem);
    max-width: 470px;
    align-self: center;
    margin-bottom: 18px;
  }



  .imgAndTextEditorBlock__contentLeft {
    margin-right: 0;
  }

  .imgAndTextEditorBlock__contentRight {
    margin-left: 0;
  }

}
