.imgAndTextEditorBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgAndTextEditorBlock__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgAndTextEditorBlock__content {
  display: flex;
  flex-direction: column;
}

.imgAndTextEditorBlock__contentLeft {
  margin-right: 69px;
}

.imgAndTextEditorBlock__contentRight {
  margin-left: 69px;
}

.imgAndTextEditorBlock__img {
  max-width: 470px;
  object-fit: cover;
  width: 100%;
}
