.multiImg__list{
  overflow-x: scroll;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .multiImg__list{
    margin-right: 20.5px;
    overflow-y: scroll;
    max-height: 360px;
    overflow-x: hidden;
    max-width: none;
  }
}

.multiImg__list::-webkit-scrollbar {
  width: 0;
}

.multiImg__list_item{
  max-width: 290px;
  max-height: 200px;
  min-width: 290px;
  min-height: 200px;
  object-fit: cover;
  width: 100%;
  margin-right: 7px;
}

@media (min-width: 768px) {
  .multiImg__list_item{
    max-width: 112.5px;
    max-height: 112.5px;
    min-width: 112.5px;
    min-height: 112.5px;
    margin-bottom: 11.25px;
    border-radius: 3px;
    margin-right: 0;
  }
}

.multiImg__list_setItem{
  height: 360px;
  object-fit: cover;
  max-width: 360px;
  border-radius: 3px;
}

