.multiImg__list{
  overflow-x: scroll;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .multiImg__list{
    margin-right: 20.5px;
    overflow-y: scroll;
    max-height: 360px;
  }
}

.multiImg__list::-webkit-scrollbar {
  width: 0;
}

.multiImg__list_item{
  max-width: 112.5px;
  max-height: 112.5px;
  min-width: 112.5px;
  min-height: 112.5px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 11.25px;
  border-radius: 3px;
}

.multiImg__list_setItem{
  height: 360px;
  object-fit: cover;
  max-width: 360px;
  border-radius: 3px;
}

.multiImg__contentTitle{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #373737;
  margin-bottom: 28px;
}

.multiImg__contentMap{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #0C389A;
}

.multiImg__contentText{
  font-size: 14px;
  line-height: 24px;
  color: #646F83;
  margin-bottom: 24px;
}

.multiImg__contentPriceTitle{
  font-size: 12px;
  line-height: 24px;
  color: #646F83;
}

.multiImg__contentPrice{
  font-size: 24px;
  line-height: 40px;
  color: #646F83;
}

.multiImg__contentPrice b{
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #373737;
}
